<%= render 'shared/page_title', title: "showing all recipes" %>

<div class="center">
  <%= will_paginate %>
</div>

  <%= render 'recipe', obj: @recipes %>

<div class="center">
  <%= will_paginate %>
</div>
