<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %> center">
        <a href="#" class="close" data-dismiss="alert">&#215;</a>
        <%= msg %>
      </div>
    <% end %>
  </div>
</div>
